 <!-- myIndex-->
 <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
 <sitecore>
  <search>    
	<!-- Obsolete: the API that uses this section is obsolete. Please, use Sitecore.ContentSearch to configure your indexes. -->
    <configuration>
      <indexes hint="list:AddIndex">	  
	  
        <index id="healthcaresearchindex" type="Sitecore.Search.Index, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <param desc="folder">__healthcaresearchindex</param>
          <Analyzer ref="search/analyzer"/>
          <locations hint="list:AddCrawler">      

			<customindex type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel">
				<Database>master</Database>
				<Tags>master content</Tags>
				<Boost>0.5</Boost>				
				<Root>/sitecore/content/Healthcare</Root>
 				<include hint="list:IncludeTemplate">
				  					  <EventTemplate>{CA747933-3899-40AB-9612-442B37303F78}</EventTemplate>
				  <EventTemplate2>{83E069A8-1960-452D-84B1-FC6DF8576EE1}</EventTemplate2>		
                  <EventTemplate3>{AB86861A-6030-46C5-B394-E8F99E8B87DB}</EventTemplate3>
				</include>
			</customindex>
			
          </locations>
        </index>
      </indexes>
    </configuration>	
  </search>
 </sitecore>
</configuration>
       