<!-- myIndex-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <search>
      <!-- Obsolete: the API that uses this section is obsolete. Please, use Sitecore.ContentSearch to configure your indexes. -->
      <configuration>
        <indexes hint="list:AddIndex">

          <index id="startersearchindex" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">__startersearchindex</param>
            <Analyzer ref="search/analyzer"/>
            <locations hint="list:AddCrawler">             

              <customindex type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel">
                <Database>web</Database>
                <Tags>web content</Tags>
                <Boost>0.5</Boost>
                <Root>/sitecore/content/StarterKit</Root>
                <include hint="list:IncludeTemplate"> 
                  <!--<EventTemplate>{CA747933-3899-40AB-9612-442B37303F78}</EventTemplate>
                  <EventTemplate2>{83E069A8-1960-452D-84B1-FC6DF8576EE1}</EventTemplate2>-->
                  <BaseTemplate>{1EDD854F-DA8D-4B73-9594-F720FCD957CF}</BaseTemplate>
                  <NewsTemplate>{DB008091-B931-4F0C-A255-05B1B9D0329C}</NewsTemplate>
                  <EventTemplate>{83E069A8-1960-452D-84B1-FC6DF8576EE1}</EventTemplate>
                </include>
              </customindex>

            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>
